# Git
.git/
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Виртуальные окружения
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
logs/
tmp/
.tmp/
.cache/
*.bak
*.old

# OS specific
.DS_Store
Thumbs.db

# База данных
*.db
*.sqlite
*.sqlite3 